# Ignore the compiled output binary
*gitops-translator
gitops-translator-app
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

*.out
*.test
*.prof
*.cov
coverage.txt

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
